html {
	background: #09091E;
}

.universe {
	position: relative;
	height: 100%;
	width: 100%;
	margin: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.universe__part *,
.universe__part *::before,
.universe__part *::after {
	position: absolute;
	content: '';
}

.universe__part {
	position: relative;
	width: 100vw;
	height: 80vw;
	margin: 12vw 0;
}

.universe__part .universe__planet {
	top: 50vw;
	left: 17vw;
	height: 25vw;
	width: 60vw;
	border-radius: 7vw 7vw 60vw 60vw;
	background: linear-gradient(180deg, #ebf3fe 34%, #77cdff 35%, #77cdff 47%, #58b6fc 48%);
}

.universe__part .universe__planet:before {
	left: 18vw;
	top: 3vw;
	height: 6vw;
	width: 12vw;
	border-radius: 50vw 50vw 0 0;
	background: #77cdff;
}

.universe__part .universe__planet:after {
	top: 11vw;
	left: 31vw;
	width: 12vw;
	height: 6vw;
	border-radius: 0 0 50vw 50vw;
	background: #77cdff;
}

.universe__part .universe__hills {
	top: 32vw;
	left: 63vw;
	height: 18vw;
	width: 9vw;
	border-radius: 50vw 50vw 0 0;
	background: #306CF2;
}

.universe__part .universe__hills:before {
	left: -5vw;
	top: 5vw;
	height: 13vw;
	width: 9vw;
	border-radius: 50vw 50vw 0 0;
	background: #3EADFC;
	box-shadow: 4px 0 0 rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.universe__part .universe__hills:after {
	left: -2vw;
	top: 12vw;
	height: 6vw;
	width: 8vw;
	border-radius: 50vw 50vw 0 0;
	background: #EBF3FE;
	z-index: 10;
}

.universe__part .universe__bubble:nth-child(1) {
	top: 45vw;
	left: 25vw;
	height: 8vw;
	width: 8vw;
	border-radius: 100%;
	background: #FFFFFF;
	animation: universe-star 4s ease infinite;
}

.universe__part .universe__bubble:nth-child(2) {
	top: 47vw;
	left: 30vw;
	height: 10vw;
	width: 10vw;
	border-radius: 100%;
	background: #FFFFFF;
	animation: universe-star 5s ease infinite;
	animation-delay: -2s;
}

.universe__part .universe__bubble {
	top: 48vw;
	left: 37vw;
	height: 11vw;
	width: 10vw;
	border-radius: 100%;
	background: #FFFFFF;
	animation: universe-star 3s ease infinite;
	animation-delay: -1s;
}

.universe__part .universe__bubble:nth-child(4) {
	top: 49vw;
	left: 40vw;
	height: 14vw;
	width: 10vw;
	border-radius: 100%;
	background: #FFFFFF;
	animation: universe-star 6s ease infinite;
}

.universe__part .universe__bubble:nth-child(5) {
	top: 48vw;
	left: 44vw;
	height: 12vw;
	width: 9vw;
	border-radius: 100%;
	background: #FFFFFF;
	animation: universe-star 4s ease infinite;
	animation-delay: -2s;
}

.universe__part .universe__bubble:nth-child(6) {
	top: 49vw;
	left: 51vw;
	height: 12vw;
	width: 12vw;
	border-radius: 100%;
	background: #FFFFFF;
	animation: universe-star 5s ease infinite;
	animation-delay: -1s;
}

.universe__part .universe__rocket {
	top: 30vw;
	left: 34vw;
	height: 6vw;
	width: 20vw;
	border-radius: 50vw 50vw 2vw 2vw / 100vw 100vw 2vw 2vw;
	background: #2D97F7;
	animation: universe-rocket 4s ease infinite;
}

.universe__part .universe__rocket:before {
	top: -14vw;
	left: 2vw;
	height: 20vw;
	width: 16vw;
	border-radius: 50vw 50vw 2vw 2vw / 100vw 100vw 2vw 2vw;
	background: linear-gradient(to right, #ffffff 49%, #a8d3fd 50%);
}

.universe__part .universe__rocket:after {
	top: 6vw;
	left: 5vw;
	height: 4vw;
	width: 10vw;
	border-radius: 20px;
	background: #2D97F7;
}

.universe__part .universe__rocket-window {
	top: -5vw;
	left: 7.4vw;
	height: 5vw;
	width: 5vw;
	border-radius: 100%;
	background: #214A8A;
	border: 2px solid #A8D4F9;
}

.universe__part .universe__rocket-light {
	top: 2vw;
	left: 7vw;
	height: 18vw;
	width: 5vw;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

.universe__part .universe__sattelite {
	top: 4vw;
	left: 57vw;
	height: 10vw;
	width: 10vw;
	border-radius: 100%;
	background: linear-gradient(to right, #fa016d 0%, rgba(250, 1, 109, 0) 100%);
}

.universe__part .universe__sattelite:before {
	left: 12vw;
	top: -2vw;
	height: 2vw;
	width: 2vw;
	border-radius: 100%;
	background: #2D97F7;
}

.universe__part .universe__sattelite:after {
	left: 15vw;
	top: 4vw;
	height: 1vw;
	width: 1vw;
	border-radius: 100%;
	background: #EEF9FF;
}

.universe__part .universe__star:nth-child(11) {
	top: 13vw;
	left: 23vw;
	height: 1vw;
	width: 1vw;
	animation: universe-star 6s linear infinite;
	animation-delay: -2s;
}

.universe__part .universe__star:nth-child(11):before {
	left: 1.5vw;
	top: 1vw;
	height: 1.2vw;
	width: .2vw;
	border-radius: 1px;
	background: #2D97F5;
}

.universe__part .universe__star:nth-child(11):after {
	left: 1vw;
	top: 1.5vw;
	height: .2vw;
	width: 1.2vw;
	border-radius: 1px;
	background: #2D97F5;
}

.universe__part .universe__star:nth-child(12) {
	top: 10vw;
	left: 37vw;
	height: 1vw;
	width: 1vw;
	animation: universe-star 6s linear infinite;
	animation-delay: -3s;
}

.universe__part .universe__star:nth-child(12):before {
	left: 0.2vw;
	top: .2vw;
	height: .2vw;
	width: 100%;
	border-radius: 2px;
	background: white;
}

.universe__part .universe__star:nth-child(12):after {
	left: .6vw;
	top: -0.2vw;
	height: 100%;
	width: .2vw;
	border-radius: 2px;
	background: white;
}

.universe__part .universe__star:nth-child(13) {
	top: 21vw;
	left: 29vw;
	height: .2vw;
	width: .2vw;
	animation: universe-star 6s linear infinite;
	animation-delay: -4s;
}

.universe__part .universe__star:nth-child(13):before {
	left: 0.4vw;
	top: .1vw;
	height: .8vw;
	width: 80%;
	border-radius: 1px;
	background: #2D97F5;
}

.universe__part .universe__star:nth-child(13):after {
	left: .1vw;
	top: 0.4vw;
	height: 80%;
	width: .8vw;
	border-radius: 1px;
	background: #2D97F5;
}

.universe__part .universe__star:nth-child(14) {
	top: 12vw;
	left: 52vw;
	height: .8vw;
	width: .8vw;
	animation: universe-star 6s linear infinite;
	animation-delay: -5s;
}

.universe__part .universe__star:nth-child(14):before {
	left: 0px;
	top: .3vw;
	height: .2vw;
	width: 100%;
	border-radius: 2px;
	background: #2D97F5;
}

.universe__part .universe__star:nth-child(14):after {
	left: .3vw;
	top: 0px;
	height: 100%;
	width: .2vw;
	border-radius: 2px;
	background: #2D97F5;
}

.universe__part .universe__star:nth-child(15) {
	top: 5vw;
	left: 74vw;
	height: .5vw;
	width: .5vw;
	animation: universe-star 6s linear infinite;
	animation-delay: -1s;
}

.universe__part .universe__star:nth-child(15):before {
	left: 0px;
	top: .2vw;
	height: .1vw;
	width: 100%;
	border-radius: 1px;
	background: #2D97F5;
}

.universe__part .universe__star:nth-child(15):after {
	left: .2vw;
	top: 0px;
	height: 100%;
	width: .1vw;
	border-radius: 1px;
	background: #2D97F5;
}

@keyframes universe-ufo {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes universe-rocket {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(7px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes universe-ufo-light {
	0% {
		opacity: 1;
	}

	50% {
		opacity: .6;
	}

	100% {
		opacity: 1;
	}
}

@keyframes universe-star {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}